@font-face {
    font-family: box-font;
    src: url(../font/BankGothic.ttf);
}
/* navbar */
.navbar-default {
    background-color:#7fbb4d;
    border-color: #7fbb4d;
    margin-bottom: 0px;
    height:20px;


}
/* title */
.navbar-default .navbar-brand {
    color: white;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    font-family:box-font;
    text-transform: uppercase;
    color: white;
    padding: 2px auto;
    margin:auto;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7fbb4d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}

.navbar .navbar-nav {
        display: inline-block;
        float:none;
        text-align:center;


    }

.navbar .navbar-collapse {
        text-align: center;

        margin:0px auto;
        text-align:center;
    }

.nav-separater{

    line-height: 1.42857143;
    font-size:32px;
    color:white;
  }
