@font-face {
    font-family: box-font;
    src: url(../font/BankGothic.ttf);
}
/* navbar */
.navbar-default {
   background-color:rgb(125, 189, 77);
   border-color:rgb(125, 189, 77);
   margin-bottom: 0px;
   height:20px;


}
/* title */
.navbar-default .navbar-brand {
    color: white;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 2px auto;
    margin:auto;
    font-size:23px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    background-color:#7fbb4d;
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7fbb4d;
}


.navbar .navbar-nav {
        display: inline-block;
        float:none;
        text-align:center;


    }

.navbar .navbar-collapse {
        text-align: center;
        margin:0px auto;
        text-align:center;
    }

.nav-separater{

    line-height: 1.42857143;
    font-size:32px;
    color:white;
  }




  /* Nav Bar Overide*/
.navbar-default {
  background-color: rgb(125, 189, 77);
  border-bottom: 1px solid rgb(125, 189, 77);
}
.navbar-default .navbar-nav>li>a:hover{
  color:#black;

}

/******************************Nav Bar Branding Logo overide**************************/
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand  {
  color: #F5F5F5 ;
}

a:hover .navbar-brand{
  color: #FFEB3B;
}

.navbar-default .navbar-brand a:hover{
  color:blue;
}

/******************************End Branding Overside*********************************/



/******************************Nav Bar a text on Active overide**************************/

.navbar-default .navbar-nav>.active>a{
  /*This is for the text inside the active block including background,
    and only the default text color not hover*/

  color:#F5F5F5;
  background-color: #1B5E20;
}

/*This is for the text hover inside the active block, including hover background*/

.navbar-default .navbar-nav>.active>a:hover{
  background-color: #1B5E20;
  color: #FFEB3B;
}
/******************************End Nav Bar a text on Active overide**************************/
a.drop-down-toggle{

}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color:green;
  background-color: #7fbb4d;

}

* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;

}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7fbb4d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}




.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
  color:green;
}


.navbar-header{
  background-color: #7fbb4d;
  border-style: none;
  border-color: #7fbb4d;

}
.navbar-default .navbar-collapse{

    margin:0;
    padding:0;


}
